html{
    height: 100%;
}
html body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(99, 97, 97, 0.598);
}
#tab{
    display: flex;
    height: 80%;
    width: 40%;
    margin-left: 50px;
    border: solid 10px;
    border-radius: 10px;
}
.col{
    background-color: black;
    border: none ;
    flex: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.col:hover{
    background-color: blue;
    

}
.case{
    background-color: gray;
    flex: 1;
    border: solid 2px;
    border-radius: 80px;
    margin: 3px;
    font-size: 1px;
    
}
.borderR{
    border-right: solid 4px rgb(100, 98, 98);
}
.borderB{
    border-bottom: solid 4px rgb(100, 98, 98);
}
h1{
    text-align: center;
    height: 100px;
    
}
#game{
    display: flex;
    justify-content: space-around;
    border-top: solid 1px gray;
    padding-top: 40px;
    height: 80%;
    width: 100%;

}
.info{
    display: flex;
    justify-content: space-around;
}
#log{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 80%;
    border: ridge 1px gray;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.575);
}
h2{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    color: rgb(174, 171, 171);
}
button{
    border-radius: 10px;
    font-size: 27px;
    background-color: rgb(0, 221, 255);
    border: 1px black;
    padding: 7px;
    cursor: pointer;
}
#scoreOne{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: rgb(0, 221, 255);
    border-radius: 20px;

}
#scoreTwo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: rgb(0, 221, 255);
    border-radius: 20px;

}
h3{
    font-size: 30px;
}
.changeGame{
    display: flex;
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    color: black;
}
#result{
    width: fit-content;
    font-size: 40px;
    background-color: black;
    text-align: center;
    padding: 10px;
}